@use '../abstracts/' as *;

.heading-1 {
  @include heading(
    $font-size-700, 
    $color-primary-orange-400,    
  );
  line-height:2.75em;
}
.heading-2 {
  @include heading(
    $font-size-500, 
    $color-primary-orange-400,
  );
  line-height: 1.25em;
}
.heading-3 {
  @include heading(
    $font-size-200, 
    $color-primary-orange-400,
  );
  line-height: 1.125rem;
}