@font-face {
  font-family: "OpenSans_Regular";
  src: url("fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans_Bold";
  src: url("fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans_Light";
  src: url("fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans_Medium";
  src: url("fonts/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "OpenSans_SemiBold";
  src: url("fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Segoe_UI";
  src: url("fonts/SEGOEUI.ttf");
}

@font-face {
  font-family: "Gotham_Medium";
  src: url("fonts/GothamMedium.ttf");
}

@font-face {
  font-family: "Gotham_Bold";
  src: url("fonts/GothamBold.ttf");
}

@font-face {
  font-family: "Gotham_Light";
  src: url("fonts/GothamLight.ttf");
}

@font-face {
  font-family: "IBM_Plex_Sans";
  src: url("fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: "IBM_Plex_Sans_medium";
  src: url("fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
} 