.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.v-top{
  vertical-align: top;
}
.v-middle{
  vertical-align: middle;
}
.v-bottom{
  vertical-align: top;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.m-auto {
  margin: 0 auto;
}