/* Break Points (575, 767.99, 768, 1024, 1200, 1366, 1440, 1920)*/
$breakpoints: (
  small: 35.9375em,
  medium: 47.999em,
  x-medium: 48em,
  large: 64em,
  x-large:75em,
  xl-large:85.375rem,
  xx-large:90em,
  xxl-large:120em,
);
